---
Language: Cpp
BasedOnStyle: Microsoft
NamespaceIndentation: All
BreakTemplateDeclarations: Yes
ReferenceAlignment: Left
PointerAlignment: Left
EnumTrailingComma: Insert
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
